<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/assets/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favourite Movies</title>
</head>

<body>
    <header>
        <h1>Favourite movies</h1>
        <ul>
            <button class="button-32"><a href="/movie/add-form">add movie</a></button>
        </ul>
        <ul>
            <button class="button-32"><a href="/favourite-movies">movies' list</a></button>
        </ul><br>
        <hr>
    </header>
</body>
{{{body}}}

</html>