<div class="container">
    <div class="error">
        <div class="alert" style="background-color: #F9DEDC;" role="alert">
            <h2 class="alert-heading">Error...</h4>
                <p>{{message}}</p>
        </div>
        </div>
</div>