<div class="container">
    <h2 style="color: #31111D"><strong>List of my favourite movies</strong></h2>
    <table class=" table caption-top" style="background-color: #FFFBFE; color: #31111D">
    <tr>
        <th>Position in rank</th>
        <th>Movie's title</th>
        <th>Director</th>
        <th>Score</th>
    </tr>

    {{#each movies}}
    <tr>
        <td>{{this.place}}</td>
        <td>{{this.movie.title}}</td>
        <td>{{this.movie.director}}</td>
        <td>{{this.movie.score}}</td>
    </tr>
    {{/each}}
</table>
</div>