<div class="container">
    <h2>List of my favourite movies</h2>
    <table class="table table-primary caption-top">
    <tr>
        <th>Position in rank</th>
        <th>Movie's title</th>
        <th>Director</th>
        <th>Score</th>
    </tr>

    {{#each movies}}
    <tr>
        <td>{{this.place}}</td>
        <td>{{this.movie.title}}</td>
        <td>{{this.movie.director}}</td>
        <td>{{this.warrior.score}}</td>
    </tr>
    {{/each}}
</table>
</div>