:root {
  --primary-color-bg:  #F7FFF7;
  --primary-color-font: #343434;
  --secondary-color-font: #343434c0;
  --button-color-1: #FFE66D;
  --button-color-1-1: #ffe76dc0;
  --button-color-2: #6CA6C1;
  --button-color-2-1: #6ca6c1c5;
}

p {
  text-align: center;

}

* {
    margin: 10px 10px 10px 10px ;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--primary-color-bg);
    color: var(--primary-color-font);
}

a {
    font-family: 'Josefin Sans', sans-serif;
}
ul {
  max-width: 800px;
  align-content: center;
}

.form-table {
  font-size: 18px;
  display: table;
  min-width: 800px;
  vertical-align: middle;
}

.fame-table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  font-size: 18px;
  display: table;
  min-width: 800px;
  vertical-align: middle;
}

.fame-item {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  font-size: 18px;
  size: 200px;
}

td {
  font-size: 17px;
  vertical-align: middle;
}
input {
  width: 100%;
}

.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 15px 25px 15px 25px;
  font-size: 15px;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}

.home {
    text-align: center;
    color: var(--secondary-color-font);
}

.register {
  text-transform: uppercase;
  text-decoration: none; 
  background-color: var(--button-color-1);
  border-radius: 0px;
  color: var(--primary-color-font);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px 15px 10px;
  text-align: center;
  transition: 200ms;
  width: 95%;
  box-sizing: border-box;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32 {
  text-transform: uppercase;
  text-decoration: none;  
  background-color: var(--button-color-2);
  border-radius: 0px;
  color: var(--primary-color-font);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px 15px 10px;
  text-align: center;
  transition: 200ms;
  width: 95%;
  box-sizing: border-box;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: var(--button-color-2-1);
  box-shadow: 0 0 0 3px var(--primary-color-font), 0 3px 8px 0 var(--primary-color-font);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.register:not(:disabled):hover,
.register:not(:disabled):focus {
  outline: 0;
  background: var(--button-color-1-1);
  box-shadow: 0 0 0 3px var(--primary-color-font), 0 3px 8px 0 var(--primary-color-font);
}

.register:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}